body {
    margin:0
}

.circleCell {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border: 1px solid;
    border-radius: 50px;
    position:absolute;
    background-color: #00438a;
    top:0;
    bottom:0;
    right:0;
    left:0;
}