body {
    margin:0
}

.simpleCell {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border: 1px solid;
    border-radius: 25px;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
}